  <div class="bg-dark p-1 m-5 mt-4 rounded-5 text-center " id="form">
    <form class="text-center" (submit)="FormSubmit($event)">
        <h4 class="text-center text-light mt-2">Vendi la tua auto</h4>
        <div class="form-row"> <!-- Modified -->
            <div class="m-3 d-flex justify-content-center">
                <div class="form-group col-md-4 m-2">
                    <label for="marca" class="text-light">Marca</label>
                    <input type="text" class="form-control" id="marca" placeholder="Inserisci la marca">
                </div>
                <div class="form-group col-md-4 m-2">
                    <label for="modello" class="text-light">Modello</label>
                    <input type="text" class="form-control" id="modello" placeholder="Inserisci il modello">
                </div>
            </div>
            <div class="m-3 d-flex justify-content-center">
                <div class="form-group col-md-3 m-2">
                    <label for="Anno" class="text-light">Immatricolazione</label>
                    <input type="number" min="1900" [max]="now" class="form-control col m-1" id="txtAnno" placeholder="Anno">
                </div>
                <div class="form-group col-md-3 m-2">
                    <label for="Targa" class="text-light">Targa</label>
                    <input type="text" class="form-control col m-1" id="txtTarga" placeholder="Inserisci targa">
                </div>
            </div>
        </div>
        <div class="form-row "> <!-- Modified -->
            <div class="m-3 d-flex justify-content-center">
                <div class="form-group col-md-4 m-2">
                    <label for="alimentazione" class="text-light">Tipo alimentazione</label>
                    <select class="form-control" id="alimentazione">
                        <option value="">Seleziona il tipo di alimentazione</option>
                        <option value="benzina">Benzina</option>
                        <option value="diesel">Diesel</option>
                        <option value="ibrida">Ibrida</option>
                        <option value="elettrica">Elettrica</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4 m-2">
                    <label for="classeEmissioni" class="text-light">Classe emissioni</label>
                    <select class="form-control" id="classeEmissioni">
                        <option value="">Seleziona la classe emissioni</option>
                        <option value="Euro 1">Euro 1</option>
                        <option value="Euro 2">Euro 2</option>
                        <option value="Euro 3">Euro 3</option>
                        <option value="Euro 4">Euro 4</option>
                        <option value="Euro 5">Euro 5</option>
                        <option value="Euro 6">Euro 6</option>
                    </select>
                </div>

                
            </div>
        </div>
        <div class="form-row ">
            <div class="m-3 d-flex justify-content-center">
                <div class="form-group col-md-2 mt-2 m-1 row">
                    <label for="chilometraggio" class="text-light">Potenza <br> (CV)</label>
                    <input type="number" min="21" class="form-control col m-1" id="txtPotenza" placeholder="Potenza">
                </div>
                <div class="form-group col-md-2 mt-2 m-1 row">
                    <label for="chilometraggio" class="text-light">Chilometraggio (KM)</label>
                    <input type="number" min="1" class="form-control col m-1" id="txtChilometri" placeholder="Chilometri">
                </div>
            </div>
        </div>
        <!-- File upload form
        <form method='post' action='http://localhost:3000/upload' enctype="multipart/form-data">
            <input name="foo" type="file" />
            <input type='submit'>
        </form> -->

        <div class="form-row">
            <div class="m-3 d-flex justify-content-center">
                <div class="form-group">
                    <input multiple="true" style="color: white;" name="foo" type="file" (change)="uploadFile($event)"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-1 m-2">Vendi</button>
    </form>
</div>
